.top-section {
    width: 100%;
    height: 100vh;
    background: url(https://s3.amazonaws.com/www-assets.invisionapp.com/marketplace/assets/mp-hero-06.jpg)center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.svg-logo {
    width:200px;
}

.marketplace-logo {
    fill: #fff;
}